<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>Job Scraper</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
		/>
	</head>
	<body>
		<main class="container">
			<a href="/">Back to Search</a>
			<h1>Search Results for: "{{keyword}}"</h1>
			<form action="/export">
				<button type="submit">Click to Export</button>
			</form>
			<figure>
				<table role="grid">
					<thead>
						<tr>
							<th>Position</th>
							<th>Company</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						{% for job in jobs %}
						<tr>
							<td>{{job[0]}}</td>
							<td>{{job[1]}}</td>
							<td>
								<a href="{{job[-1]}}" target="_blank"> Apply now &rarr; </a>
							</td>
						</tr>
						{% endfor%}
					</tbody>
				</table>
			</figure>
		</main>
	</body>
</html>
